<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109052507396-5cfs7qgmlo14fdp6j7dekuenlaac5l7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109052507396-5cfs7qgmlo14fdp6j7dekuenlaac5l7d</string>
	<key>API_KEY</key>
	<string>AIzaSyCGxBGC2t_o8q1gUBp0_gvSuTjfUg6CpZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>109052507396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skypapi.flutterFsNames</string>
	<key>PROJECT_ID</key>
	<string>fstest2-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fstest2-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109052507396:ios:5debff27cc273270a18c51</string>
</dict>
</plist>